<ons-page>

  <ons-carousel fullscreen swipeable auto-scroll overscrollable id="carousel">
    <ons-carousel-item style="
    background:url(image/john_wick.jpg);
    background-repeat: no-repeat;
    background-size: cover;"
    >

    </ons-carousel-item>
    <ons-carousel-item style="
    background:url(image/john_wick_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;"
    >

    </ons-carousel-item><ons-carousel-item style="
    background:url(image/john_wick_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;"
    >

    </ons-carousel-item>
  </ons-carousel>

<p style="font-size: larger;">Top 10 of August</p>
</ons-page>