<ons-page id="john_wick_1" class="detailmovie">

        <div style="text-align: left;"><ons-back-button>back</ons-back-button></div>
        

  
        <img src="image/john_wick.jpg" alt="" class ="imgdetail" >

<h1>John Wick(2014)</h1>
<p>:: Storyline ::</p>
<p>เรื่องราวอดีตนักฆ่ามือปืนฝีมือพระกาฬอันดับหนึ่งของวงการอย่าง “จอห์น วิค – John Wick” (รับบทโดย คีอานู รีฟส์ – Keanu Reeves) ที่ตัดสินใจหันหลังจากวงการมืดและตั้งใจจะเริ่มต้นชีวิตใหม่อย่างเงียบสงบกับสุนัขของภรรยาที่ได้ตายจากไป แต่ชีวิตของเขากลับไม่เป็นอย่างที่คิด</p>
</ons-page>
