
  <ons-page id="profile">
    <p style="text-align: center;">
      
      <img src="https://scontent.fbkk5-7.fna.fbcdn.net/v/t1.0-9/117444635_3129957717122386_7677684607311931940_o.jpg?_nc_cat=107&_nc_sid=e3f864&_nc_ohc=hNaDqN82LtoAX8i44kJ&_nc_oc=AQlTDEy4UMpb5fHSW-3vrl3GtNlMt8tilPmnFcJp8L0RgJxsdYDdP0YM8pyTcpvmwVc&_nc_ht=scontent.fbkk5-7.fna&oh=0d25212ea129e164b1851988e8b2fd84&oe=5F8D06F3" width="50%"  alt="">
        
      <ons-card>
  
        <ons-list>
          <ons-list-header>My Acount</ons-list-header>
    
      
          </ons-list>
        </div>

      </ons-card>
    </p>
  </ons-page>
