<ons-page>
  <p style="text-align: center; margin-top: 10px;">
    <ons-search-input
      placeholder="Search"
      onchange="ons.notification.alert('Searched for: ' + this.value)"
    ></ons-search-input>
  </p>
<div>

<p style="text-align: center;">รายการแนะนำ</p>

  <p style="text-align: left;">
  
    <img src="image/john_wick.jpg" width="40%" style="float: left; margin: 5px 10px;" alt="">
     <h5>John Wick (2014)</h5>
<p style="font-size: 5px;">เรื่องราวอดีตนักฆ่ามือปืนฝีมือพระกาฬอันดับหนึ่งของวงการอย่าง “จอห์น วิค – John Wick” (รับบทโดย คีอานู รีฟส์ – Keanu Reeves)</p>

<img src="image/five-stars-rating.jpg" width="30%" alt="">
<p>(5.0)</p>

</div>
<br>

<div>

<p style="text-align: left;">

  <img src="image/john_wick_2.jpg" width="40%" style="float: left; margin: 5px 10px;" alt="">
   <h5>John Wick 2 (2017)</h5>
<p style="font-size: 5px;">นักฆ่าปลดเกษียณ ที่จำต้องหวนกลับคืนสู่วงการอีกครั้ง หลังหมาของภรรยายที่พึ่งจากไปถูกฆ่าโดยลูกมาเฟีย จนกลายเป็นจุดเริ่มต้นของการไล่ล่าคูลๆ</p>

<img src="image/five-stars-rating.jpg" width="30%" alt="">
<p>(5.0)</p>

</p>

</div>
<br>
<div>

  <p style="text-align: left;">
  
    <img src="image/john_wick_3.jpg" width="40%" style="float: left; margin: 5px 10px;" alt="">
     <h5>John Wick 3 (2019)</h5>
  <p style="font-size: 5px;">การกลับมาผงาดของสุดยอดนักฆ่าแห่งโลกภาพยนตร์ที่ผู้ชมทั้งโลกรอคอย หลังจากถูกสั่ง “ตัดหางปล่อยวัด”</p>
  
  <img src="image/five-stars-rating.jpg" width="30%" alt="">
  <p>(5.0)</p>
  
  </p>
  
  </div>
 
 
</ons-page>