<ons-page>
  <p style="text-align: center; margin-top: 10px;">
    <ons-search-input
      placeholder="Search"
      onchange="ons.notification.alert('Searched for: ' + this.value)"
    ></ons-search-input>
  </p>


  <p style="text-align: center;">รายการแนะนำ</p>

  <p style="text-align: left;">
  
    <img src="image/john_wick.jpg" width="40%" style="float: left; margin: 5px 10px;" alt="">
     <h5>John Wick (2014)</h5>
<p style="font-size: 5px;">เรื่องราวอดีตนักฆ่ามือปืนฝีมือพระกาฬอันดับหนึ่งของวงการอย่าง “จอห์น วิค – John Wick” (รับบทโดย คีอานู รีฟส์ – Keanu Reeves)</p>

<img src="image/five-stars-rating.jpg" width="30%" alt="">
<p>(5.0)</p>
</p>



<p style="text-align: left;">

  <img src="image/john_wick_2.jpg" width="40%" style="float: left; margin: 5px 10px;" alt="">
   <h5>John Wick 2 (2017)</h5>
<p style="font-size: 5px;">เรื่องราวอดีตนักฆ่ามือปืนฝีมือพระกาฬอันดับหนึ่งของวงการอย่าง “จอห์น วิค – John Wick” (รับบทโดย คีอานู รีฟส์ – Keanu Reeves)</p>

<img src="image/five-stars-rating.jpg" width="30%" alt="">
<p>(5.0)</p>

</p>



 
</ons-page>